* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #fafafa;
}

html {
  height: 100%;
}

body {
  background: url('/assets/backgrounds/main/main.webp') no-repeat center center /
    cover;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  position: relative;
}

/* .grid_item {
} */

header {
  grid-column: span 5 / span 5;
}

.content {
  grid-column: span 5 / span 5;
  grid-row: span 3 / span 3;
  grid-row-start: 2;
}

footer {
  grid-column: span 5 / span 5;
  grid-row-start: 5;
}

/* html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #222;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section1,
.section2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: blur(1px);
}

.section1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/assets/backgrounds/main/bg-btm.webp") center center;
  background-size: cover;
}

.section2 {
  background: rgba(68, 35, 19, 1);
}

.section1 > .text {
  top: 4%;
  transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}

.text {
  top: 30%;
  left: 70%;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15vw;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) 5px 5px 70px
    rgba(255, 255, 255, 0.5);
  transform: scale(1.1) translate(-50%, 10%);
} */
