header {
  border: 1px solid red;
  height: 100vh;
}

.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 2em;
}

.nav-items {
  position: relative;
  display: flex;
  font-size: clamp(0.6rem, 2vw, 1.2rem);

  .nav-links {
    border: 1px solid blue;
    list-style: none;
    width: 10em;
    height: 2em;
    align-content: center;
    text-align: center;
  }

  button {
    position: absolute;
    top: 0;
    right: 10px;
    width: clamp(50px, 100%, 100px);
    height: clamp(20px, 100%, 50px);
  }
}
