header {
  height: 1500px;
  position: relative;
}

.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 2em;
  margin-top: 2em;
}

.nav-items {
  display: flex;
  gap: 15px;
  font-size: clamp(0.6rem, 2vw, 1.2rem);
  width: 100%;
  position: relative;
}

.nav-links {
  width: 10em;
  height: 3em;
  border: 1px solid #353434;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items .nav-links:last-child {
  position: absolute;
  right: 0;
  width: clamp(50px, 100%, 150px);
  height: clamp(20px, 100%, 50px);
  color: var(--hover-text-color);
  background-color: var(--main-text-color);
  box-shadow: inset 0 0 0 0 rgb(247, 251, 252);
  transition: 0.5s all;
}

.drop-arr::before {
  content: '\21A7';
  position: absolute;
  right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.drop-arr.active::before {
  transform: rotate(180deg);
}

.drop-arr.inactive::before {
  transform: rotate(0deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn,
.drop-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 5px 10px 0px rgba(66, 65, 65, 1);
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.dropdown-content li a {
  display: block;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 10px 5px;
  box-shadow: inset 0 0 0 0 rgb(247, 251, 252);
  transition: 0.5s all;
}

.dropdown-content li a:hover {
  color: var(--hover-text-color);
  box-shadow: inset 300px 0 0 0 rgba(247, 251, 252, 0.7);
}

.show {
  display: block;
}
