header {
  height: 100vh;
  position: relative;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  scrollbar-width: none;
}

.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 2em;
  margin-top: 2em;
  z-index: 100;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: clamp(0.6rem, 2vw, 1.2rem);
  width: 100%;
  position: relative;
}

.nav-links,
.nav-links:nth-child(2) a {
  width: 10em;
  height: 3em;
  border: 1px solid rgba(29, 36, 43, 1);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.1px;
}

.nav-links:nth-child(2) a:focus,
.dropdown:focus {
  border-color: var(--hover-bg-color);
  box-shadow: 0 1px 1px 1px;
}

.logo {
  position: relative;
  width: 20em;
  height: 5em;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border: none;
  outline: none;
  margin-right: 2rem;
}

.logo a {
  display: flex;
  width: 100%;
  position: relative;
}

.logo-kana {
  width: 50%;
  font-size: clamp(1rem, 4vw, 2.3rem);
  font-weight: 900;
  text-align: center;
  margin: 20px 0 0 0;
  font-family: 'Main_Font';
  position: absolute;
  bottom: -2.5rem;
  left: 2rem;
  letter-spacing: 1rem;
  /* background: rgb(12, 12, 12); */
}

.logo-kana-small {
  width: 60%;
  font-size: clamp(0.5rem, 2vw, 1rem);
  position: absolute;
  bottom: 0;
  text-align: center;
  color: rgb(242, 97, 63);
}

.logo-eng {
  width: 50%;
  font-size: clamp(1rem, 5vw, 3.5rem);
  font-family: 'Cursive_Font';
  font-weight: 900;
  position: absolute;
  right: -0.25rem;
  bottom: -2rem;
}

.contact-btn {
  position: absolute;
  right: 0;
  width: clamp(5em, 12vw, 10em);
  height: clamp(1.5em, 10vw, 3em);
  color: var(--hover-text-color);
  background-color: var(--main-text-color);
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: 900;
  letter-spacing: 1.1px;
  box-shadow: inset 0 0 0 0 rgb(29, 36, 43);
  transition: 0.5s all;
}

.contact-btn:hover {
  box-shadow: inset 300px 0 0 0 rgb(29, 36, 43);
  color: var(--main-text-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  margin-left: -20px;
}

.dropbtn,
.drop-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.drop-arr::before {
  content: '\21A7';
  position: absolute;
  right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.drop-arr.active::before {
  transform: rotate(180deg);
}

.drop-arr.inactive::before {
  transform: rotate(0deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 5px 10px 0px rgba(66, 65, 65, 1);
  z-index: 1;
  border-radius: 0 0 5px 5px;
  margin-top: 1em;
}

.dropdown-content li a {
  display: block;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 10px 5px;
  box-shadow: inset 0 0 0 0 rgb(247, 251, 252);
  transition: 0.5s all;
}

.dropdown-content li a:hover {
  color: var(--hover-text-color);
  box-shadow: inset 300px 0 0 0 rgba(247, 251, 252, 0.7);
}

.show {
  display: block;
}

/* HEADER SUB BG  */
.sub-bg {
  /* border: 1px solid red; */
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: -20em;
  background: url('/assets/backgrounds/main/main.webp') no-repeat top center;
  background-size: cover;
  z-index: -2;
  will-change: transform;
  /* margin-bottom: 0; */
}

/* COMPANY  */
.company-container {
  position: fixed;
  top: 30%;
  width: 100%;
  height: auto;
  z-index: -3;
  will-change: transform;
  animation: fadeIn 1.5s ease-in-out forwards;
  perspective: 1px;
  transform-style: preserve-3d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.company-title {
  position: relative;
  width: 100%;
  font-size: clamp(2em, 5vw, 5em);
  letter-spacing: 1.1em;
  text-align: center;
  font-family: 'Cursive_Font';
  text-transform: uppercase;
  font-weight: 900;
}

.company-description {
  position: fixed;
  right: 20%;
  top: 40%;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 1);
  /* border-radius: 50%; */
  transition: all 0.3s ease-in-out;
}
